<%- include("templates/header") %> 
<div class="container">
  <h1>Admin Page</h1>
  <h3 style="text-transform: capitalize;">Hello, <%=username  %> </style></h3>

  <div class="row">
    <div class="col-md-4">
      <img src="/images/1.gif" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="/images/2.gif" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="/images/3.gif" class="img-fluid">
    </div>
  </div>

  <br>
  <br>
<div>Users:</div>
<ul>
  <% users.forEach(user => { %>
    <li style="border-bottom: 1px solid black; padding: 10px;">
      <div style="display: inline-block;"><%= user.username %></div>
      <% if(user.type === "admin") { %>
        <div style="display: inline-block; margin-left: 10px;">
        <form action="/demoteUser" method="POST">
          <button class="btn btn-danger btn-sm"  id= "demote" onclick="demoteUser()">Demote to User</button>
          <button class="btn btn-success btn-sm" disabled>Promote to Admin</button>
          </form>
        </div>
      <% } else { %>
        <div style="display: inline-block; margin-left: 10px;">
          <form action="/promoteUser" method="POST">
          <button class="btn btn-danger btn-sm" disabled>Demote to User</button>
          <button class="btn btn-success btn-sm" onclick="promoteUser(user)">Promote to Admin</button>
            </form>
        </div>
      <% } %>
    </li>
  <% }); %>
</ul>
  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Sign Out</button>
    <br>
    <br>
    
  </form>
 
</div>

<%- include("templates/footer") %>

<!-- <script>
function demoteUser(user) {
  /define the user to demote/

  alert(user);
}
</script> -->