<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>

<footer class="bg-info text-white py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <p class="mb-0"><a href="/" class="text-white"><i class="fas fa-home"></i> Home</a></p>
      </div>
    </div>
  </div>
</footer>
